header {
    display: none;
}

@media (max-width: 850px) {
    header {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
    }

    #burger-menu {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #burger-menu span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: black;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
    }

    #mobile-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #F2EFE5;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mobile-nav.active {
        display: flex;
    }

    #burger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }

    #burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    #burger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    #navigation-box {
        flex-direction: column;
        align-items: center;
    }

    #homelab-box {
        align-items: center;
    }

    #desktop-nav {
        display: none;
    }
}