#section-header {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

#section-header article {
    height: fit-content;
    flex-direction: row;
    align-items: stretch;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

#profile-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 20px;
}

#profile-picture-container {
    width: 400px;
}



#header-information {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: fit-content;
    height: fit-content;
}




strong {
    font-weight: 600; 
    color: var(--color-primary);
}