html, body {
    padding: 0;
    margin: 0;
}

body {

    display: flex;
    flex-direction: row;

}

/* Color palette */
* {
    --color-1: #FCFFED;
    --color-2: #B8CF73;
    --color-3: #2A3C24;
}

/* INFORMATION SECTION */

#section-information {

    width: 66%;
    background-color: var(--color-1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.information-section-content {

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.information-photo {
    border-radius: 100%; 
    border: 5px solid var(--color-3);
    box-sizing: border-box;
    
    width: 250px;
    height: auto;
}

.infomration-text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: auto;
}

.information-title {
    font-family: "Space Grotesk", monospace;
    letter-spacing: -6%;
    font-size: 48px;
    color: var(--color-3);

    width: fit-content;
}

.information-subtitle {
    font-family: "Instrument sans", sans-serif;
    font-weight: 400;
    color: var(--color-3);
    font-size: 20px;
}

#section-about {
    width: 33%;
}