html, body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    --color-primary: #7B3C0F;
    --color-secondary: #3B5611;
} 

body {

    font-family: "Inter";
    font-weight: 400;
    font-weight: 200;

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0px 90px;

    background-color: #F2EFE5;
    
}

#content {
    width: 50vw; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}




















#homelab-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#homelab-indicator {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 100%;
}

#homelab-indicator.indicator-fine {
    background-color: var(--color-secondary);
}

#homelab-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#homelab-title h2 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

section {
    width: 100%; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    box-sizing: border-box;
    padding: 100px 0px;
}

section article {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


section h1.main-title {
    font-family: "Gravitas One";
    font-size: 68px;
    font-weight: normal;
    letter-spacing: -5%;
    line-height: 90%;

    margin: 0;
    padding: 0;
    color: var(--color-primary);
}

section hr {
    border: 0px solid transparent; 
    border-top: 1px solid black;

    height: 1px;
    width: 100%;

    margin: 0; 
    padding: 0;
}

section p {
    font-size: 22px;
    letter-spacing: normal;
    line-height: 125%;
    font-weight: 200;
    text-align: left;

    margin: 0;
    padding: 0;
    width: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
}

.tabs div {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;

    padding-top: 5px; 
    padding-bottom: 5px;
    
    font-weight: 400;

    position: relative;
    color: var(--color-primary);

    transition: color .2s ease, background-color .2s ease;

}

.tabs div:not(.tab-active) {
    cursor: pointer;
}

.tabs div:not(.tab-active):hover {
    background-color: #fafafa;
}

.tabs .tab-active {
    color: white;
    background-color: var(--color-primary);
}


