html, body {
    padding: 0;
    margin: 0;
}

* {
    --color-primary: #7B3C0F;
    --color-secondary: #3B5611;
} 

body {
    scroll-behavior: smooth;

    font-family: "Inter";
    font-weight: 400;
    font-weight: 200;

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0px 90px;

    background-color: #F2EFE5;
    
}

#content {
    width: 50vw; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;

    height: 100vh;

    position: fixed; 
    right: 90px;
    font-size: 22px;
}

nav hr {
    margin: 0;
    border: 0px solid transparent;
    border-top: 1px solid black;
}

#navigation-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

nav a {
    text-decoration: none;
    font-weight: 300;
    color: black;
    
    transition: font-weight .3s ease, color .3s ease, transform .3s ease;
}

nav a:hover {
    font-weight: 600;
    transform: translateX(-5px);
    color: var(--color-secondary);
}

nav a:active {
    transform: scale(98%);
}

nav a.nav-link-active {
    font-weight: 600; 
    color: var(--color-secondary);
}

#homelab-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#homelab-indicator {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 100%;
}

#homelab-indicator.indicator-fine {
    background-color: var(--color-secondary);
}

#homelab-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#homelab-title h2 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

section {
    width: 100%; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    box-sizing: border-box;
    padding: 100px 0px;
}

section article {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


section h1.main-title {
    font-family: "Gravitas One";
    font-size: 68px;
    font-weight: normal;
    letter-spacing: -5%;
    line-height: 90%;

    margin: 0;
    padding: 0;
    color: var(--color-primary);
}

section hr {
    border: 0px solid transparent; 
    border-top: 1px solid black;

    height: 1px;
    width: 100%;

    margin: 0; 
    padding: 0;
}

section p {
    font-size: 22px;
    letter-spacing: normal;
    line-height: 125%;
    font-weight: 200;
    text-align: left;

    margin: 0;
    padding: 0;
    width: 100%;
}