html, body {
    padding: 0;
    margin: 0;
}

body {

    font-family: "Hepta Slab";
    font-weight: 400;

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 90px;

    background-color: #F2EFE5;
    
}

#content {
    width: 50vw; 
    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

nav hr {
    margin: 0;
    border: 0px solid transparent;
    border-top: 1px solid black;
}

#navigation-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

nav a {
    text-decoration: none;
    font-weight: 300;
    color: black;
    
    transition: font-weight .3s ease, color .3s ease, transform .3s ease;
}

nav a:hover {
    font-weight: 600;
    transform: translateX(-5px);
    color: #3B5611;
}

nav a:active {
    transform: scale(98%);
}

nav a.nav-link-active {
    font-weight: 600; 
    color: #3B5611;
}

#homelab-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#homelab-indicator {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 100%;
}

#homelab-indicator.indicator-fine {
    background-color: #3B5611;
}

#homelab-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#homelab-title h2 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}