.project-headline {
    font-family: "Gravitas One";
    letter-spacing: -12%;
    line-height: .9em;

    text-align: right; 
    color: var(--color-primary);
    font-weight: 800;
    font-size: 1.7em;

    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Gravitas One";
    letter-spacing: -5%;
    line-height: .9em;
    font-size: 3em;

    color: var(--color-primary);
    font-weight: 800;

    padding: 0; 
    margin: 12.5px 0;
}

#project-content {

    margin: 100px;

}

#project-content img {
    width: 100%;
    margin: 12.5px 0;
}

p {
    font-size: 22px;
    letter-spacing: normal;
    line-height: 125%;
    font-weight: 200;
    text-align: left;

    margin: 12.5px 0;
    padding: 0;
    width: 100%;
}